
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
body{

    height: 100vh;
    width: 100vw;
    display: inline-block;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6835012235034.560a8e5be9e14.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-color:  #ffecd9;
    display: grid;
    
    padding: 1rem;
  
}

h1{
    /* color: #a2ccb6; */
    font-size:250%;
    color: white;
    margin: 10px 655px 10px 650px;
    padding: 10px;
    border-radius: 5px;
    background-color: #a2ccb6;
}

input{
    padding: 2px;
    margin:25px;
    margin-left: 41%;
    display: block;
    height: 30px;
    width: 280px;
    border: 1px solid black;
    background-color:  #a2ccb6;
    border-radius:5px ;

}

.last{
   text-align: center;
   margin-top: 15%;
  
}
#show{
  font-size: x-large;
  color: white;
  margin: 10px 500px 10px 500px;
  padding: 10px;
  opacity: 90%;
  border-radius: 5px;
  background-color: #a2ccb6;
}

button{
    -webkit-appearance: none  ;
    background: -webkit-gradient(to right, #a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
    background: linear-gradient(to right,#a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color:  #fff;
    cursor: pointer;
    font: 1.5em Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 5rem;
    letter-spacing: .05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20rem;
  }


/* //palette
$green: #a2ccb6
$peach: #ee786e
$sand: #fceeb5
$white: #fff
 */
    
button:hover{
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
    
@keyframes gradient  {
    0%{
    background-position: 0% 50%
  100%;
    background-position: 100% ;
  }
}
  